html {
  font-size: 16px;
}

h1 {
  font-family: "League Spartan", sans-serif;
  font-size: clamp(2.4883rem, 1.6953rem + 3.9653vi, 4.7684rem);
  font-weight: 700;
}

h2 {
  font-family: "League Spartan", sans-serif;
  font-size: clamp(2.0736rem, 1.468rem + 3.028vi, 3.8147rem);
  font-weight: 600;
}

h3 {
  font-family: "League Spartan", sans-serif;
  font-size: clamp(1.728rem, 1.2676rem + 2.3022vi, 3.0518rem);
  font-weight: 500;
}

h4 {
  font-family: "League Spartan", sans-serif;
  font-size: clamp(1.728rem, 1.2676rem + 2.3022vi, 3.0518rem);
  font-weight: 500;
}

h5 {
  font-family: "League Spartan", sans-serif;
  font-size: clamp(1.728rem, 1.2676rem + 2.3022vi, 3.0518rem);
  font-weight: 500;
}

p {
  font-family: "League Spartan", sans-serif;
  font-size: clamp(0.8333rem, 0.6884rem + 0.7246vi, 1.25rem);
  font-weight: 400;
}

button {
  font-family: "League Spartan", sans-serif;
  font-size: clamp(0.8333rem, 0.6884rem + 0.7246vi, 1.25rem);
  font-weight: 300;
  padding: 1rem;
}

input {
  font-family: "League Spartan", sans-serif;
  font-size: clamp(1rem, 0.8043rem + 0.9783vi, 1.5625rem);
  font-weight: 500;
}

span {
  font-family: "League Spartan", sans-serif;
  font-size: clamp(0.6944rem, 0.5882rem + 0.5314vi, 1rem);
  font-weight: 700;
}

img {
  width: 100%;
  height: 100%;
}

li {
  font-family: "League Spartan", sans-serif;
  font-size: clamp(1rem, 0.8043rem + 0.9783vi, 1.5625rem);
  font-weight: 400;
}

.darkTheme {
  background-color: #111111;
  color: #ffffff;
}
.darkTheme button {
  background-color: #242b37;
  color: #ffffff;
  width: 50%;
}
.darkTheme button:hover {
  background-color: #ffffff;
  color: #111111;
}

.btn-light {
  background-color: #ffffff;
  color: #111111;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10rem;
}
.hero .hero-info {
  text-align: center;
}
.hero .hero-info p {
  width: 50%;
  margin: 1rem auto;
  text-align: center;
}
.hero .hero-info button {
  margin-bottom: 2rem;
}
@media screen and (min-width: 48rem) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem 0;
  }
}

.gallery {
  position: relative;
  top: -1rem;
  margin: 0 auto;
}
.gallery #gallery1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/16945221/pexels-photo-16945221/free-photo-of-hombre-campo-flores-vehiculo.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
}
.gallery #gallery2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/1268101/pexels-photo-1268101.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
}
@media screen and (min-width: 48rem) {
  .gallery {
    position: relative;
    top: 0rem;
  }
  .gallery #gallery1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/16945221/pexels-photo-16945221/free-photo-of-hombre-campo-flores-vehiculo.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
  }
  .gallery #gallery2 {
    height: 40rem;
  }
}

.menu {
  padding: 5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .menu-header h5 {
  width: 80%;
}
.menu .menu-header p {
  width: 60%;
  background-color: #9e7f66;
  color: #fff;
}
.menu .menu-header ul {
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  width: 100%;
}
.menu .menu-header ul li {
  margin: 0.5rem 2rem;
}
.menu .menu-options {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.menu .menu-options .menu-productCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 3rem;
  padding: 2rem;
  width: 20rem;
  max-width: 20rem;
  text-align: center;
}
.menu .menu-options .menu-productCard .menu-productCard-img {
  width: 100%;
  height: 10rem;
}
.menu .menu-options .menu-productCard p {
  color: #5c6779;
  padding: 0 0.5rem;
  font-size: clamp(1.44rem, 1.0917rem + 1.7416vi, 2.4414rem);
}
.menu .menu-options .menu-productCard .ingredients {
  list-style-type: square;
  padding: 0;
}
.menu .menu-options .menu-productCard ul {
  list-style-type: none;
}
.menu .menu-options .menu-productCard ul li {
  text-align: start;
}

#smallBanner .card-body {
  background-color: #242b37;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#smallBanner .card-body h1 {
  text-align: center;
}
#smallBanner .card-body button {
  background-color: #9e7f66;
  color: #fff;
  width: 50%;
}

.modal {
  top: 30vh;
}
.modal .modal-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://plus.unsplash.com/premium_photo-1665203630695-1db105e4ea9d?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  height: 20vh;
}

/*# sourceMappingURL=styles.css.map */
