@use "variables";
@import "Mymixins";
.hero{
 @include flexDirection(column, space-around, center);
 padding-bottom: 10rem;

    .hero-info{
        text-align: center;
        p{
            width: 50%;
            margin: 1rem auto;
            text-align: center;
            
        }
        button{
            margin-bottom: 2rem;
        }
        
    }
    @media screen and (min-width:48rem) {
        @include flexDirection(row,center,center);
        padding: 1rem 0;
    }
}