@use "variables";
@import "Mymixins";
.darkTheme{
    background-color: variables.$color-primary;
    color: variables.$light-color;
    button{
        background-color: variables.$secondary-color2;
        color: variables.$light-color;
        width: 50%;
        
    }
    button:hover{
        background-color: variables.$light-color;
        color: variables.$color-primary;
    }
}

.btn-light{
    background-color: variables.$light-color;
    color: variables.$color-primary;
}

