$font-size--2: clamp(0.6944rem, 0.5882rem + 0.5314vi, 1rem);
$font-size--1: clamp(0.8333rem, 0.6884rem + 0.7246vi, 1.25rem);
$font-size-0: clamp(1rem, 0.8043rem + 0.9783vi, 1.5625rem);
$font-size-1: clamp(1.2rem, 0.938rem + 1.3098vi, 1.9531rem);
$font-size-2: clamp(1.44rem, 1.0917rem + 1.7416vi, 2.4414rem);
$font-size-3: clamp(1.728rem, 1.2676rem + 2.3022vi, 3.0518rem);
$font-size-4: clamp(2.0736rem, 1.468rem + 3.028vi, 3.8147rem);
$font-size-5: clamp(2.4883rem, 1.6953rem + 3.9653vi, 4.7684rem);
$color-primary: #111111;
$color-primary2: #9e7f66;
$secondary-color: #17192b;
$secondary-color2: #242b37;
$secondary-color3: #5c6779;
$light-color: #ffffff;
$fontF: "League Spartan", sans-serif;